{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2>Listings You Are Watching</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Current Bid</th>
                <th></th>
            </tr>
        </thead>
         <tbody>
            {% for listing in listings%}
            <a href="/listing/{{ listing.id }}">
                <tr>
                    <th scope="row"><a href="/listing/{{ listing.id }}"><img style="max-width: 150px; max-height: 150px;" src="{{ listing.image }}"></a></th>
                    <td>{{ listing.title }}</td>
                    <td>{{ listing.description }}</td>
                    <td>${{ listing.starting_bid }}</td>
                    <td><a class="btn btn-danger" href="/watchlist/remove/{{ listing.id }}">Remove</a></td>
                </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}